@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

:root {
    --almost-white: hsl(0, 0%, 98%);
    --medium-gray: hsl(0, 0%, 41%);
    --almost-black: hsl(0, 0%, 8%);
    font-family: "Epilogue", sans-serif;
    font-size: 18px;
    font-weight: 500;
}   

.container {
    margin-left: auto;
    margin-right: auto;
    width: min(100vw, 1440px);
}

body {
    overflow-x: hidden;
}

.pointer-cursor {
    cursor: pointer;
}
.unscrollable {
    overflow: hidden;
}

.wrapper {
    width: 100%;
    height: 100%;
    background-color: var(--almost-white);
}

/*Mobile first workflow*/

.nav-container__logo-icon {
    margin-top: 10px;
}

.nav-container .container {
    display: flex;
    padding: 25px;
    height: 70px;
    justify-content: space-between;
    align-items: center;
}

/*Menu styles*/

.menu-view-blocker {
    background-color: black;
    height: 100%;
    opacity: 0;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    transition-property: opacity, z-index;
    transition-delay: 0s, 0.2s;
    transition-duration: 0.2s, 0s;
}
.menu-view-blocker.active {
    opacity: 0.5;
    z-index: 1;
    transition: opacity 0.2s;
}

.nav-container__items-container {
    background-color: var(--almost-white);
    visibility: hidden;
    overflow-y: scroll;
    overflow-x: hidden;
    position: fixed;
    right: 0;
    top: 0;
    height: 0;
    font-size: 16px;
    padding: 20px 1.2em;
    width: 243px;
    z-index: 2;
}

.nav-container__items-container.active {
    transition: height 0.3s ease-out, visibility 0.3s;
    visibility: visible;
    height: 100vh;
}

.nav-container__items-exit {
    display: flex;
    padding-bottom: 1em;
    justify-content: right;
}

.nav-container__items-item {
    padding-bottom: 1.2em;
}

.line-under-strike-decoration {
    position: relative;
}
.line-under-strike-decoration::after {
    width: 0;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 1px;
    background-color: black;
    transition: all 0.3s ease-in-out;
    content: " ";
}
.line-under-strike-decoration:hover::after {
    width: 100%;
}

.nav-container__items-list__item {
    padding-top: 1.2em;
    margin-left: 1.5em;
    margin-right: 1.5em;
    visibility: hidden;
}
.nav-container__items-list__item-icon {
    height: 1em;
    margin-top: 3px;
    padding-right: 10px;
}

.nav-dropdown {
    display: block;
    height: 0;
    opacity: 0;
    transition: height 0.3s, opacity 0.2s;
    list-style-type: none;
}
.nav-dropdown.active {
    opacity: 1;
    height: 100%;
}
.nav-dropdown.active .nav-container__items-list__item {
    visibility: visible;
}

.nav-container__items-label-arrow {
    display: inline-block;
    margin-bottom: 2px;
    transition: all 0.3s;
}

.nav-container__items-label-arrow.active {
    transform: rotate(180deg);
}

@media screen and (min-width: 768px) {

    /* .nav-container .container {
        padding-right: 40px;
        padding-left: 40px;
    } */

    .nav-container__items-container {
        display: flex;
        justify-content: space-between;
        position: relative;
        overflow: visible;
        padding: 0;
        padding-left: 25px;
        height: 100%;
        visibility: visible;
        flex-grow: 1;
        z-index: 0;
    }
    .nav-container__menu {
        display: none;
    }
    .nav-container__items-exit {
        display: none;
    }
    .nav-container__items-links {
        display: flex;
    }
    .nav-container__items-item {
        margin-left: 25px;
    }
    .nav-container__items-buttons {
        display: flex;
        align-items: center;
    }
    .nav-dropdown {
        position: absolute;
        white-space: nowrap;
    }
    .nav-dropdown.active {
        background-color: var(--almost-white);
        border-radius: 15px;
        box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
        height: fit-content;        
    }
    .nav-container__items-features {
        position: relative;
    }
    .nav-container__items-list-features {
        top: 200%;
        right: 0;
    }
    .nav-container__items-company {
        position: relative;
    }
    .nav-container__items-list-company {
        top: 200%;
        left: 0;
    }
    .nav-dropdown.active .nav-container__items-list__item:last-of-type {
        padding-bottom: 1.2em;
    }
}

/*Buttons*/

.nav-container__items-button {
    background-color: var(--almost-white);
    border: 1px solid var(--almost-white);
    border-radius: 15px;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.2s;
    padding: 0.8em;
    width: 100%;
}
.nav-container__items-button-register {
    margin-top: 5px;
    border: 1px solid var(--almost-black);
}
.nav-container__items-button:hover{
    background-color: var(--almost-black);   
    color: var(--almost-white);
}

@media screen and (min-width: 768px) {
    .nav-container__items-button-register {
        margin-top: 0;
    }
    .nav-container__items-button {
        padding: 0.8em 1.2em;
    }
    .nav-container__items-button-container:last-of-type {
        padding-left: 15px;
    }
}
/*Main Page Content*/

.content-container {
    padding-bottom: 100px;
}
.content-container__banner {
    width: 100%;
    padding-top: 75.2% ;
    background-image: url("../images/image-hero-mobile.png");
    background-size: cover;
}

.content-container__text {
    font-size: 16px;
    text-align: center;
    padding: 50px 20px;
}

.content-container__text-header {
    font-size: 34px;
    font-weight: 700;
}

.content-container__text-paragraph {
    color: var(--medium-gray);
    line-height: 24px;
    padding: 20px 0;
}

.content-container__text-button {
    background-color: var(--almost-black);
    border: 1px solid var(--almost-black);
    border-radius: 15px;
    color: var(--almost-white);
    font-size: 17px;
    font-weight: 700;
    padding: 0.8em 1.3em;
    cursor: pointer;
    transition: all 0.2s;
}
.content-container__text-button:hover {
    background-color: var(--almost-white);
    color: var(--almost-black);
    font-weight: 700;
} 
.content-container__clients {
    width: 100%;
    display: grid;
    padding: 0 25px;
    grid-template-columns: 1.14fr 0.72fr 0.83fr 0.90fr;
    gap: 7%;
}
.content-container__clients-logo {
    width: 100%;
}

@media screen and (min-width: 768px) {
    .content-container {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        padding: 50px 125px 100px 125px;
        height: 875px;
    
    }   
    .content-container__banner {  
        padding-top: 0;
        height: 100%;
        width: auto;
        background-image: url("../images/image-hero-desktop.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    .content-container__banner-container {  
        flex-grow: 1;
        padding-left: 12%;
    }
    .content-container__text-and-clients {
        max-width: 42%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .content-container__text {
        text-align: left;
        padding: 15% 0;
        flex-grow: 1;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
    }
    .content-container__text-paragraph {
        font-size: 18px;
    }
    .content-container__text-button {
        width: fit-content;
        padding: 0.8em 1.8em;
    }
    .content-container__text-header {
        font-size: 76px;
    }
}


